@font-face{
	font-family: 'Alata';
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/primary/Alata-Regular.woff2') format('woff2'),
		url('fonts/primary/Alata-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-Thin.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 100;
	font-style: italic;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-ThinItalic.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-ExtraLight.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 200;
	font-style: italic;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-ExtraLightItalic.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-Light.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-LightItalic.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-LightItalic.ttf') format('truetype');
}

@font-face{
	font-family: 'Be Vietnam Pro';
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-Regular.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-Italic.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-Medium.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-MediumItalic.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-SemiBold.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-SemiBoldItalic.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-Bold.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-BoldItalic.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-ExtraBold.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 800;
	font-style: italic;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-ExtraBoldItalic.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-Black.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Be Vietnam Pro';
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	font-display: fallback;
	src: url('fonts/secondary/BeVietnamPro-BlackItalic.woff2') format('woff2'),
		url('fonts/secondary/BeVietnamPro-BlackItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Bitstream Vera Sans Mono';
	font-weight: 400;
	font-style: normal;
	font-strech: normal;
	font-display: fallback;
	src: url('fonts/mono/VeraMono.ttf') format('truetype');
}

@font-face {
        font-family: 'Bitstream Vera Sans Mono';
        font-weight: 400;
        font-style: italic;
        font-strech: normal;
        font-display: fallback;
        src: url('fonts/mono/VeraMoIt.ttf') format('truetype');
}

@font-face {
        font-family: 'Bitstream Vera Sans Mono';
        font-weight: 700;
        font-style: normal;
        font-strech: normal;
        font-display: fallback;
        src: url('fonts/mono/VeraMoBd.ttf') format('truetype');
}

@font-face {
        font-family: 'Bitstream Vera Sans Mono';
        font-weight: 700;
        font-style: italic;
        font-strech: normal;
        font-display: fallback;
        src: url('fonts/mono/VeraMoBI.ttf') format('truetype');
}
