@import url("normalize.css");

:root {
	--background-color: #fff;
	--background-color-shade: rgba(var(--cntrst), var(--cntrst), var(--cntrst), 0.05);
	--border-color: rgba(var(--cntrst), var(--cntrst), var(--cntrst), 0.2);
	--border-color-shade: rgba(var(--cntrst), var(--cntrst), var(--cntrst), 0.3);
	--text-color: #333;
	--text-color-link: #00ae7b;
	--cntrst: 0;
}
@media (prefers-color-scheme: dark) {
	:root {
	--background-color: #181818;
	--text-color: #fff;
	--cntrst: 255;
	--border-color-shade: var(--background-color);
	}
}
* {
	box-sizing: border-box;
}
html {
	font-family: "Be Vietnam Pro", Helvetica, sans-serif;
	line-height: 1.75;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
	visibility: visible;
}
a {
	cursor: pointer;
	color: var(--text-color);
	transition: border-bottom-color 0.2s ease, color 0.2s ease;
	text-decoration: none;
	border-bottom: solid 1px var(--border-color);
}
a:hover, a:focus, a:active {
	--text-color: var(--text-color-link);
	border-bottom-color: transparent;
}

body>header, body>main, body>footer>div {
	width: 100%;
	max-width: 68rem;
	margin: 0 auto;
	padding: 2.5rem;
}

body>header {
	padding: 8rem 2.5rem 0.1rem;
	display: flex;
	align-items: center;
}
body>header>h1 {
	margin: 0 auto 0 0;
}
body>header>h1 a {
	color: #08f;
	border-bottom: none;
}
body>header>nav a {
	padding: 0.25rem 0;
	margin-left: 1rem;
	font-weight: bold;
}
.mobile-only {
	display: none;
}
@media screen and (max-width: 68rem) {
	.mobile-only {
		display: initial;
	}
	body>header {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	body>header>h1 {
		margin: 0 0 0.5rem;
	}
	body>header>nav>a:first-child {
		margin-left: 0;
	}
}

body>footer {
	--background-color: var(--background-color-shade);
	background-color: var(--background-color);
}
body>footer>* {
	--background-color-shade: rgba(var(--cntrst), var(--cntrst), var(--cntrst), 0.1);
}

/****************
 ** TYPOGRAPHY **
 ****************/

h1 {
	font-family: "Alata", Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: 900;
	line-height: 1.5;
	margin: 0 0 1.5rem 0;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
h2, h3, h4, h5, h6 {
	font-family: "Alata", Helvetica, sans-serif;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 1.5rem 0;
	letter-spacing: -0.035em;
}

h2 { font-size: 2.75em; }
h3 { font-size: 2.25em; }
h4 { font-size: 1.9em; }
h5 { font-size: 1.6em; }
h6 { font-size: 1.3em; }

@media screen and (max-width: 45rem) {
	h2 { font-size: 2em; }
	h3 { font-size: 1.8em; }
	h4 { font-size: 1.6em; }
	h5 { font-size: 1.4em; }
	h6 { font-size: 1.2em; }
}

h1 + address, h2 + address, h3 + address, h4 + address, h5 + address, h6 + address {
	margin-top: -1rem;
	margin-bottom: -1rem;
}

/**************
 ** ELEMENTS **
 **************/

main p, main ul, main ol, main blockquote, main pre, main dl, main figure, main :not(figure)>img, main :not(figure)>picture, main :not(figure)>video, main :not(figure)>audio, main hr, main fieldset, main h1, main h2, main h3, main h4, main h5, main h6, main .grid, main :not(.grid)>.card,
.cke_editable p, .cke_editable ul, .cke_editable ol, .cke_editable blockquote, .cke_editable pre, .cke_editable dl, .cke_editable figure, .cke_editable :not(figure)>img, .cke_editable :not(figure)>picture, .cke_editable :not(figure)>video, .cke_editable :not(figure)>audio, .cke_editable hr, .cke_editable fieldset, .cke_editable h1, .cke_editable h2, .cke_editable h3, .cke_editable h4, .cke_editable h5, .cke_editable h6, .cke_editable .grid, .cke_editable :not(.grid)>.card {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

main p:empty:before {
	content: "\00A0";
}

ul ul, ul ol, ol ol, ol ul {
	margin-top: 0.5rem;
	margin-bottom: 0;
}
ul, ol {
	padding: 0;
	display: flow-root;
}
li {
	margin-left: 2.5rem;
	display: flow-root list-item;
}
li + li {
	margin-top: 0.5rem;
}
p + ul {
	margin-top: -1rem;
}

figure, :not(figure)>img, :not(figure)>picture, :not(figure)>video, :not(figure)>audio {
	max-width: 100%;
}
figure>:not(figcaption) {
	max-width: 100%;
}

hr {
	border: none;
	height: 2px;
	background-color: var(--border-color);
}

blockquote {
	border-left: 2px solid var(--border-color);
	padding: 0.5rem 1rem;
	margin-left: 1rem;
}
blockquote>:first-child, blockquote>:first-child>:first-child {
	margin-top: 0;
}
blockquote>:last-child, blockquote>:last-child>:last-child {
	margin-bottom: 0;
}

.card {
	display: block;
	position: relative;
	padding: 2rem;
	background: var(--background-color-shade);
	border-radius: 0.5rem;
	overflow: hidden;
	border: none;

	color: var(--text-color);
	background-color: var(--background-color);
	--text-color: #fff;
	--text-cntrst: 0;
	--background-color: #333;

	box-shadow: 0 0.35rem 0.75rem var(--border-color-shade);
}
a.card, a.card:hover, a.card:active, a.card:focus {
	--text-color: #fff;
}
.card>* {
	--cntrst: 255;
}
.card>:first-child {
	margin-top: 0;
}
.card>:last-child {
	margin-bottom: 0;
}

.card.interactive {
	cursor: pointer;
	transition: margin 0.2s ease, padding 0.2s ease;
}
.card.interactive:hover, .card.interactive:focus, .card.interactive:active {
	margin: -1rem;
	padding: 3rem;
	color: var(--text-color);
}
.card.interactive:hover>.tint, .card.interactive:focus>.tint, .card.interactive:active>.tint {
	opacity: 0.3 !important;
}

.tint {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	transition: opacity 0.2s ease;
}
.tint ~ * {
	position: relative;
}

.grid {
	display: grid;
	grid-gap: 2.5rem;
}
.grid.three-columns {
	grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 67.99rem) {
	.grid.three-columns {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 45rem) {
	.grid.three-columns {
		grid-template-columns: 1fr;
	}
}
footer .grid {
	grid-template-columns: 1.75fr 1fr;
}
@media screen and (max-width: 45rem) {
	footer .grid {
		grid-template-columns: 1fr;
	}
}

.flex {
	display: flex;
	align-items: flex-end;
}
@media screen and (max-width: 45rem) {
	.flex {
		flex-direction: column;
		align-items: stretch;
	}
}

.portfolio {
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: bold;
}
.portfolio>* {
	filter: drop-shadow(1px 1px 1px rgba(var(--text-cntrst), var(--text-cntrst), var(--text-cntrst), 0.8));
}
.portfolio h3 {
	margin: 0;
	font-size: 1.6em;
}
.portfolio .icon {
	height: 4em;
	margin-bottom: 1rem;
}
@media screen and (max-width: 45rem) {
	.portfolio {
		aspect-ratio: auto;
	}
}

.lazy-background {
	background-image: none !important;
}

.credits {
	opacity: 0.6;
	font-size: 0.9em;
}
.credits>span + span:before {
	content: "\00a0\2013\00a0\00a0";
}
.credits p {
	margin: 0;
}

.icon {
	position: relative; top: -0.1em;
	height: 1em;
	vertical-align: middle;
	fill: var(--text-color);
}
a .icon {
	transition: fill 0.2s ease;
}

.social {
	border-bottom: none;
	background-color: var(--background-color-shade);
	transition: background-color 0.2s ease, color 0.2s ease;
	display: inline-flex;
	align-items: center; justify-content: center;
	min-width: 1.8em; height: 1.8em; border-radius: 0.9em;
	margin: 0.1em;
	position: relative; top: 0.1em;
}
.social:hover, .social:focus, .social:active {
	background-color: var(--background-color);
}
.social>:first-child:not(:last-child) {
	margin-left: 0.6em;
}
.social>:not(:first-child) {
	margin-left: 0.3em;
}
.social>:last-child:not(:first-child) {
	margin-right: 0.6em;
}
.social .icon {
	top: 0;
}

.user-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2rem;
	text-align: center;
}
.user-list img {
	width: calc(100% - 1rem);
	border-radius: 100%;
	background: #eee;
}
.user-list h4, .user-list img {
	margin: 0 0 0.5rem;
}
@media screen and (max-width: 67.99rem) {
	.user-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media screen and (max-width: 45rem) {
	.user-list {
		grid-template-columns: 1fr 1fr;
	}
}


input:not([type="checkbox"]):not([type=radio]), select, textarea, button, .button {
	background: transparent;
	border: none;
	border-bottom: 2px solid var(--border-color);
	transition: border-bottom-color 0.2s ease, background-color 0.2s ease;
	font: inherit;
	padding: 0.25em 0.5em;
}

input:not([type="checkbox"]):not([type="radio"]):hover, input:not([type="checkbox"]):not([type="radio"]):focus, input:not([type="checkbox"]):not([type="radio"]):active,
select:hover, select:focus, select:active,
textarea:hover, textarea:focus, textarea:active {
	border-bottom-color: var(--text-color-link);
	outline: 0;
}

input[type="submit"], input[type="button"], input[type="reset"],
button, .button {
	border-bottom: none !important;
	font-weight: bold !important;
	border-radius: 0.25rem;
	background: rgba(var(--cntrst), var(--cntrst), var(--cntrst), 0.6) !important;
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active,
input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active,
input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active,
button:hover, button:focus, button:active,
.button:hover, .button:focus, .button:active {
	background: var(--text-color-link) !important;
}
.outline {
	background: none !important;
	box-shadow: inset 0 0 0 2px rgba(var(--cntrst), var(--cntrst), var(--cntrst), 0.6);
	color: inherit;
	transition: box-shadow 0.2s ease, color 0.2s ease;
}
.outline:hover, .outline:focus, .outline:active {
	background: none !important;
	box-shadow: inset 0 0 0 2px var(--text-color-link);
	color: var(--text-color-link);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--text-color);
	opacity: 0.6;
	font-size: 0.9em;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--text-color);
	opacity: 0.6;
	font-size: 0.9em;
}


::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--text-color);
	opacity: 0.6;
	font-size: 0.9em;
}

.textinput {
	color: var(--text-color);
	height:20px;
	font-size: 0.9em;
}
